.error-template {padding: 40px 15px;text-align: center;}
.error-actions {margin-top:15px;margin-bottom:15px;}
.error-actions .btn { margin-right:10px; }

.btn {
    border: none;
    color: white;
    background-color: rgba(36,186,239,.6);
  }

  .btn:hover {
    background-color: rgba(36, 185, 239, 0.304);
  }
