
<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#09c" type = "pacman" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>

<header class="my-5 vh-100">
  <owl-carousel-o [options]="customOptions">

    <ng-container *ngFor="let movie of moviesList">
      <ng-template carouselSlide [id]="movie.id">
        <img [src]="imgBaseUrl + movie.poster_path" class="img-fluid my-2"  routerLink="/details/{{movie.id}}/movie">
      </ng-template>
    </ng-container>
  </owl-carousel-o>
</header>

<div class="row my-5">
  <div class="title col-md-4 mt-4">
    <div class="brdr w-25 mb-4"></div>
    <h2>Trending</h2>
    <h2>Movies</h2>
    <h2>To Watch Now</h2>
    <br>
    <span>Most Watched Movies By Days</span>
    <div class="brdr w-100 mt-4"></div>
  </div>
  <div class="col-md-2 my-3" *ngFor="let item of moviesList|search:term">
    <div class="item ">
      <img [src]="imgBaseUrl + item.poster_path" class="img-fluid my-2"  routerLink="/details/{{item.id}}/movie">
      <h2 class="h5"  routerLink="/details/{{item.id}}/movie">{{item.title}}</h2>
      <p *ngIf="!item.isExpanded" class="text-muted d-inline">{{item.overview|seemore:10}}</p>
      <p *ngIf="item.isExpanded" class="text-muted d-inline">{{item.overview}}</p>
      <a *ngIf="!item.isExpanded" (click)="seemore(item)" class="btn d-inline text-info px-0">...see more</a>
      <a *ngIf="item.isExpanded" (click)="seeless(item)" class="btn d-inline text-info px-0">...see less</a>
    </div>
  </div>
</div>

<div class="row my-5">
  <div class="title col-md-4 mt-4">
    <div class="brdr w-25 mb-4"></div>
    <h2>Trending</h2>
    <h2>TV</h2>
    <h2>To Watch Now</h2>
    <br>
    <span>Most Watched Movies By Days</span>
    <div class="brdr w-100 mt-4"></div>
  </div>
  <div class="col-md-2 my-3" *ngFor="let item of TvShowsList|searchTv:term">
    <div class="item" >
      <img [src]="imgBaseUrl + item.poster_path" class="img-fluid my-2" routerLink="/details/{{item.id}}/tv">
      <h2 class="h5" routerLink="/details/{{item.id}}/tv">{{item.name}}</h2>
      <p *ngIf="!item.isExpanded" class="text-muted d-inline">{{item.overview|seemore:10}}</p>
      <p *ngIf="item.isExpanded" class="text-muted d-inline">{{item.overview}}</p>
      <a *ngIf="!item.isExpanded" (click)="seemore(item)" class="btn d-inline text-info px-0">...see more</a>
      <a *ngIf="item.isExpanded" (click)="seeless(item)" class="btn d-inline text-info px-0">...see less</a>
    </div>
  </div>
</div>
